<%= form_for website do |f|%>
  <fieldset>
 	  	<div class="form-group">
 	  		<%= f.text_field :url,class: "form-control",placeholder: "URL of Website"%>
 	  		
 		</div>
 		<div class="form-group">
 		<%= f.text_field :user_name,class: "form-control", placeholder: "User name"%>
 	</div>
 		<div class="form-group">
 			<%= f.password_field :password,class: "form-control" ,placeholder: "Password" %>
 		</div>
 		<input class="btn btn-lg btn-success btn-block" type="submit" value="Submit">
 	</fieldset>
<%end%>
