<% if !@cert.present? %>
	alert("Auto Login failed because following possibilities:\n1) You haven't submitted your client ssl certificate while auto login\n2) You haven't installed your client ssl certificate\n\n Solutions:\n1) Restart your browser and try again.\n2) or install you client ssl certificate if you haven't check your mail for instructions on how to install client ssl certificate on your machine");
<% elsif !@user.present? %>
	alert("Auto Login failed because following possibilities:\n1) You need to update bookmark tab for auto login\n2) You haven't registered on cingo.\n3) or You might have submitted wrong certificate\n\n Solutions:\n1) Update your bookmark tab.\n2) Or Restart your browser and try agian");
<%elsif @cert.present? && @website.present? %>
	var inputs = Array.prototype.slice.call(document.getElementsByTagName("input"))
  var mainusr;
  var mainpwd;
  var mainForm;
  var counter;
	for(var j= 0; j < inputs.length; ++j)
	{	
		input = inputs[j];
		if(input.type == "password")
		{	
			form = input.form;
			counter = 0;
			innerInputs = form.getElementsByTagName('input');

			for (var k= 0; k < innerInputs.length; ++k)
			{
				if(innerInputs[k].type == "password")
					counter = counter + 1;				
			}

			if(counter == 1)
				{
					mainForm = form;
					
					for (var l= 0; l < innerInputs.length; ++l){
						i= innerInputs[l];
						if(i.type == "password")
							mainpwd = i;	
						if(i.type == 'text')		
							mainusr = i;
						if(i.type == 'email')		
							mainusr = i;
					};
					break;
				}

		}

	};
	mainpwd.value = "<%= @website.decrypt %>";
	mainusr.value = "<%= @website.user_name %>";
	mainForm.submit();
<%else%>
	alert("Sorry, can not auto login.Please make sure you have entered website at Cingo with credentials or remove this bookmark and try adding again.");
<%end%>


