
<div class="container" style="margin-top:100px">
  <%= "<div class='alert alert-info'>You haven't registered any website yet, <strong><a href='#{setup_path}'>Setup now</a></strong></div>".html_safe unless current_user.websites.any?%>
  <h1>&nbsp;</h1>
  <%current_user.websites.each_with_index do |website,index|%>
  	<%= "<div class='row' style='margin-bottom:25px'>".html_safe if (index+1)%8 == 1%>
  		<div class="col-md-2 website-url" data-email="<%=website.user_name%>" data-url-name="<%= extract_domain(website.url)%>" data-url = "<%=website.url%>" style="width:8em;margin-right:0px;text-align:center">
  		</div>
  	<%= "</div>".html_safe if (index+1)%8 == 0%>
	<%end%>
</div>
<script>
$(document).ready(function(){
  $('#example').popover();
   $(".website-url").each(function() {
      $(this).html("<a href ='"+$(this).data('url')+"' target='_blank'><img width='40px' height='40px' src='" + $(this).data('url') + "/favicon.ico' /></a><div>"+$(this).data('url-name')+"</div><div>"+$(this).data('email')+"</div>");
    });
  });
</script>