<div class="container" style="margin-top:100px">
    <div class="row">
		<div class="col-md-7 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Add new Website</h3>
			 	</div>
			  	<div class="panel-body">			    	
			    	<%= render partial: "form",locals: {website: @website}%>	
			    </div>
			</div>
		</div>
	</div>
</div>