
<div class="container">
    <h1>&nbsp;</h1>
      <div class="row">
        <div class="col-md-16">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Your websites
              <!-- <button type="button" id="example" data-trigger = "hover" class="pull-right btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Drag this to your bookmark bar and use for auto login.">
                ?</button> -->
            <%#= link_to "Cingo", get_link,style: "margin-left:10px;color: white",class: "btn btn-success pull-right"%>
            <%= link_to "Add new Website", new_website_path,class: "btn btn-success pull-right", style: "color: white;"%>
          </h3>

          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Website</th>
                <th>Username</th>
                
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.websites.each_with_index do |website, index|%>
                <tr>
                  <td class><%= index+1 %></td>
                  <td class= "website-url"><%=link_to website.url, website.url ,target: "_blank"%></td>
                  <td><%= website.user_name %></td>
                  
                  <td><%=link_to "Edit", edit_website_path(website)%> | &nbsp;<%= link_to "Delete", website_path(website), method: "delete",confirm: "Are you sure"%> 
                    
                  </td>
                </tr> 
                <%end%>           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
$(document).ready(function(){
  $('#example').popover();
   $(".website-url").each(function() {
      $(this).prev().html("<a href ='"+$(this).text()+"' target='_blank'><img width='20px' height='20px' src='" + $(this).text() + "/favicon.ico' /></a>");
    });
  });
</script>