<script>
$(document).ready(function(){
	$('.navbar.navbar-inverse').addClass("sticky");
});


</script>
<!-- Sign In Option 2 -->
    <div id="sign_in2">
        <div class="container">
            <div class="section_header">
                <h3 style="border: none;">&nbsp; </h3>
            </div>
            <div class="row login">
                <div class="col-sm-5 left_box" style="margin-top:-10px">
                    <%= image_tag "cingo_login.png",size: "250x360",class: "pull-right"%>
                    
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <span style="font-size:30px;"><%= image_tag "logo5a.png",size: "100x40"%> Login</span>
                               
                            </div>
                            <!-- <div class="social">
                                <a href="#" class="circle facebook">
                                    <img src="img/face.png" alt="">
                                </a>
                                 <a href="#" class="circle twitter">
                                    <img src="img/twt.png" alt="">
                                </a>
                                 <a href="#" class="circle gplus">
                                    <img src="img/gplus.png" alt="">
                                </a>
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div> -->

                            <div class="form">                               
                            	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                                <% if flash.present? %>
                                    <div class="alert alert-danger" style="text-align:center;color:red"><%=flash.alert%>
                                    </div> 
                                <%end%>
                                
                                <%= f.email_field :email, :autofocus => true,class: "form-control" ,placeholder: "Email"%>
                                <%= f.password_field :password,class: "form-control" ,placeholder: "Master Password" %>
                                
                                <% if devise_mapping.rememberable? -%>
							    	<%= f.check_box :remember_me %> 
							    	<%= f.label :remember_me %>
							  	<% end -%>          
                                
                                <div class="forgot">
                                    <span>Forgot your password?</span>
                                    <a href="<%= new_user_password_path %>">Click here</a>
                                </div>                     
                                <div class="forgot">
                                    <span>Don’t have an account?</span>
                                    <a href="<%= new_user_registration_path %>">Sign up</a>
                                </div>
                                
                                
                                <%= f.submit "Sign in" %>
                                <%end%>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 