<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row sections">
      
      <div class="col-sm-4 contact">
          <h3 class="footer_header" style="color:white;font-weight:bold;">
            Contact
          </h3>
          <form action="#" method="post">
            <input type="text" placeholder="Your name" />
            <input type="text" placeholder="Your email" />
            <textarea rows="3" placeholder="Message"></textarea>
            <input type="submit" value="Send" />
          </form>
      </div>
  </div>
  <br/>
  <div class="row credits">
      <div class="col-md-12">
          <div class="row social">
                        <div class="col-md-12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                        </div>
                    </div>
          <div class="row copyright" style="color:white">
              <div class="col-md-12">
                  © 2013 CINGO. All rights reserved.
              </div>
          </div>
        </div>            
      </div>
  </div>
</footer>
