<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <%= link_to "Login", get_link,style: "margin-left:8em;margin-top:5px;color: white",class: "btn btn-success pull-left" if user_signed_in?%>
  <div class="container" style=" margin-top: 0px; margin-bottom: 0px; ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%=root_url%>" class="navbar-brand"><%=image_tag "logo5b.png", size: "120x50"%></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class=<%="#{active_menu("home","index")} #{active_menu("websites","index")}"%>><a href="<%=root_url%>">HOME</a></li>
        <li><a href='<%="#{root_url}#how_it_works"%>'>HOW IT WORKS</a></li>
        
        <% if user_signed_in? %>
        <li class = <%= active_menu("websites","setup")%>><%= link_to "SETUP", setup_path %></li>
        <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
        <%else %>
          <li class=<%=active_menu("users/registrations","new")%>><a href="<%= new_user_registration_path %>">SIGN UP</a></li>
          <li class=<%=active_menu("users/sessions","new")%>><a href="<%= new_user_session_path %>">SIGN IN</a></li>
        <% end %>
        
      </ul>
    </div>
  </div>
</div>