<style>
#feature_slider1{
margin-top: 32px;
background-image: url("assets/background.jpg");
background-size: auto;
padding-top: 51px;
padding-bottom: 51px;
background-repeat: no-repeat no-repeat;
padding-bottom: 400px;
background-position: 55% 70px;
}
#feature_slider1 .container .title {
color: #000;
line-height: 1.2;
text-transform: uppercase;
text-shadow: 0 0 1px #fff,0px 1px 2px rgba(0,0,0,0.5);
margin-top: 18%;
font-size: 50px;
}
</style>

<section id="feature_slider1" class="lol">
  <div class="container">
  	<div class="title big">
			<div style="text-align: left;">
				<span style="font-size: 80%;">Stop trying to </span>
			</div>
			<div style="text-align: left;">
				<span style="font-size: 80%;">remember passwords</span>
			</div>			
		</div>
  </div>
</section>
<div id="how_it_works" style="min-height:40px;">
  &nbsp;
</div>
<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h1 style ="text-align:center">HOW IT WORKS</h1>
    </div>            
    <div class="row feature_wrapper">
      <!-- Features Row -->
      <div class="features_op1_row">
        <!-- Feature -->
        <div class="col-sm-3 feature first">
          <div class="img_box">            
              <%= image_tag "Icon1.png"%>                       
          </div>
          <div class="text">
            <p>
                Sign up and receive free Digital Id
            </p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-sm-3 feature">
          <div class="img_box">
            
              <%= image_tag "Icon2.png"%>
              
          </div>
          <div class="text">
            <p>
                Add or import your favorite websites
            </p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-sm-3 feature last">
          <div class="img_box">
            
              <%= image_tag "Icon3.png"%>
              
          </div>
          <div class="text">
            <p>
                Set up your home page to Cingo.me
            </p>
          </div>
        </div>
        <div class="col-sm-3 feature last">
          <div class="img_box">
            
              <%= image_tag "Icon4.png"%>
            
          </div>
          <div class="text">
            <p>
                Select your website favicon and click on launch button
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
