<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Transactional</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}


p, h1{
  color:#382F2E;
  margin:0;
}

div,p,ul,h1{
  margin:0;
}


</style>

</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#ffffff"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#ffffff" style='font-family:Helvetica, Arial,serif;'>

  
  <tr><td height='35'></td></tr>

  <tr>
    <td>
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td width='40'></td>
          <td width='520'>
            <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">

<!-- =============================== Header ====================================== -->           
              

              <tr><td height='75'></td></tr>

              <tr>
                <td valign='top' align='center'>
                  <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                      <p style='text-align:center;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:26px;color:#222222;'>Welcome to <span>Cing<span style ="color:#69C374">o</span></span></p>
                    </div>
                  </div>
                </td>
              </tr>

              <!-- <tr>
                <td valign='top' align='center'>
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable">
                      <img src="images/line.png" width='251' height='43' alt='' data-default="placeholder" data-max-width="560">
                    </div>
                  </div>
                </td>
              </tr> -->

              <tr><td height='35'></td></tr>

<!-- =============================== Body ====================================== -->

              <tr>
                <td class='movableContentContainer' valign='top'>

                  <div class='movableContent'>
                    <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr><td height='20'></td></tr>
                      <tr>
                        <td align='left'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" align='center'>
                              <h1 style='text-align:left; color:#222222; font-size:19px;font-weight:normal;'>Hi <%= @user.name %>, </h1>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr><td height='15'> </td></tr>

                      <tr>
                        <td align='left'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" align='center'>
                              <p style='text-align:left;color:#999999;font-size:16px;font-weight:normal;line-height:19px;margin-top:20px;word-spacing:2px'>
                                Welcome to Cingo. Please find attached your own digital certificate. Your certificate is encrypted with your master password you used when you signed up for your Cingo account.
                                <br>
                                <br>
                                <h1 style='text-align:left; color:#222222; font-size:17px;font-weight:bold;'>Instructions to install your certificate, </h1>
                                <br/>
                                <h1 style='text-align:left; color:#222222; font-size:15px;font-weight:bold;'> Chrome and Safari</h1>
                                <ul class="instructions" style="text-align: left;color: #999999;padding-top:20px;font-size:16px">
                                  <li>Save the attached certificate</li> 
                                  <li>Find the file and double click on the certificate</li>
                                  <li>You will be prompted for your master password</li>
                                  <li>Enter your master password.</li> 
                                  <li>Your certificate is now ready for use</li>
                                  <li>Read the Help section on <%=link_to "cingo.me", root_url %> to find how you can encrypt and sign your e-mails</li>
                                  <li>Enter the Master password that you used while creating CINGO account.</li>
                                </ul>
                                <br/><br/>                                
                                <h1 style='text-align:left; color:#222222; font-size:15px;font-weight:bold;'> Firefox</h1>
                                <ul class="instructions" style="text-align: left;color: #999999;padding-top:20px;font-size:16px">
                                  <li>Open the preferences.</li>
                                  <li>Go to the "Advanced" section.</li>
                                  <li>Go to the "Certificates" tab</li>
                                  <li>Go to the "Your certificates" section.</li>
                                  <li>Click "Import..." and select your certificate</li>
                                  <li>Enter the your master password</li>
                                </ul>
                                                    
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr><td height='40'></td></tr>

                      <tr>
                        <td align='center'>
                          <table>
                            <tr>
                              <td align='center' bgcolor='#69C374' style='background:#69C374; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" align='center'>
                                    <a href="http://ec2-54-85-41-230.compute-1.amazonaws.com/setup" style='font-size:16px;text-decoration:none;color:#ffffff;'>Now setup your account</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr><td height='20'></td></tr>
                    </table>
                  </div>

                </td>
              </tr>

              <tr><td height='65'></td></tr>

<!-- =============================== footer ====================================== -->

              <!-- <tr><td  style='border-bottom:1px solid #DDDDDD;'></td></tr>

              <tr><td height='25'></td></tr>

              <tr>
                <td>
                  <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td valign='top' align='left' width='370'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" align='center'>
                            <p  style='text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;'>
                              <span style='font-weight:bold;'><span>Cing<span style ="color:#69C374">o</span></span></span>
                              <br>
                              
                            </p>
                          </div>
                        </div>
                      </td>

                      <td width='30'></td>

                      <td valign='top' width='52'>
                        <div class="contentEditableContainer contentFacebookEditable">
                          <div class="contentEditable">
                            <a href="#"><img src="images/facebook.png" width='52' height='53' alt='facebook icon' data-default="placeholder" data-max-width="52"></a>
                          </div>
                        </div>
                      </td>

                      <td width='16'></td>

                      <td valign='top' width='52'>
                        <div class="contentEditableContainer contentTwitterEditable">
                          <div class="contentEditable">
                            <a href="#"><img src="images/twitter.png" width='52' height='53' alt='twitter icon' data-default="placeholder" data-max-width="52"></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

 -->
            </table>
          </td>
          <td width='40'></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr><td height='88'></td></tr>


</table>

<!--Default Zone

    

    -->
    <!--Default Zone End-->

</body>
</html>
