
    <div id="sign_in2">
        <div class="container">
            <div class="section_header">
                <h3 style="border: none;">&nbsp; </h3>
            </div>
            <div class="row ">

                <div class="col-sm-10 signin_box" style="float: none">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <strong style="font-size:30px;">Enter your Email</strong>
                            </div>
                            <div class="form">                               
                            	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                                <% if flash.present? %>
                                    <div class="alert alert-danger" style="text-align:center;color:red"><%=flash.alert%>
                                    </div> 
                                <%end%>
                                
                                <%= f.email_field :email, :autofocus => true,class: "form-control" ,placeholder: "Email"%>       
                                    	                     
                                <div class="forgot">
                                    <span>Don’t have an account?</span>
                                    <a href="<%= new_user_registration_path %>">Sign up</a>
                                </div>
                                
                                <%= f.submit "Submit" %>
                                <%end%>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 