<!DOCTYPE html>
<html>
<head>
	<title>Cingo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
  <!-- Styles -->
  <link href="/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="/assets/css/compiled/index.css" type="text/css" media="screen" />    
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/animate.css" media="screen, projection" />    
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/animate.css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/compiled/sign-up.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="pull_top">
  <script>
    $(document).ready(function(){
      $(".navbar-fixed-top").addClass("sticky");
    });
  </script>
    
	<%= render partial: "/shared/header" %>
  <section class="body-section" style="min-height:25em">
    <%= yield %>
  </section>
  <%= render partial: "/shared/footer" %>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>

    <script type="text/javascript" src="/assets/js/index-slider.js"></script>	
</body>
</html>