<script>
$(document).ready(function(){
  $("#country_code").change(function(e){
    $(".country_code").val($(this).val());
  });

  $("#phone_number").change(function(e){
    $(".phone_number").val($(this).val());
  });
});
</script>

<div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3 style="border: none;">&nbsp; </h3>
            </div>
            <div class="row login">
                <div class="col-sm-5 left_box" style="font-size:17px">
                  <h4>Create your account</h4>
                  <div class = "row">
                    <div class="col-sm-12 feature first">
                      <div class="col-sm-3 img_box"><%= image_tag "Icon1.png",size: "50x50"%></div>
                      <div class="col-sm-8 text">
                        <p>Sign up and receive free Digital Id</p>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <!-- Feature -->
                  <div class = "row">
                    <div class="col-sm-12 feature">
                      <div class="col-sm-3 img_box"><%= image_tag "Icon2.png",size: "50x50"%></div>
                      <div class="text col-sm-8">
                        <p>Add or import your favorite websites</p>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <!-- Feature -->
                  <div class = "row">

                    <div class="col-sm-12 feature last">
                      <div class="col-sm-3 img_box"><%= image_tag "Icon3.png",size: "50x50"%></div>
                      <div class="col-sm-8 text">
                        <p>Set up your home page to Cingo.me</p>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <div class = "row">
                    <div class="col-sm-12 feature last">
                      <div class="col-sm-3 img_box"><%= image_tag "Icon4.png",size: "50x50"%></div>
                      <div class=" col-sm-8 text">
                        <p>Select your website favicon and click on launch button</p>
                      </div>
                    </div>
                  </div>                  
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                        	<div class="social">
                                <span style="font-size:30px;"><%= image_tag "logo5a.png",size: "100x40"%> Signup</span>
                            </div>
	                        <!-- <div class="social">
	                            <a href="#" class="circle facebook">
	                                <img src="img/face.png" alt="">
	                            </a>
	                             <a href="#" class="circle twitter">
	                                <img src="img/twt.png" alt="">
	                            </a>
	                             <a href="#" class="circle gplus">
	                                <img src="img/gplus.png" alt="">
	                            </a>
	                        </div>

	                        <div class="division">
	                            <div class="line l"></div>
	                            <span>or</span>
	                            <div class="line r"></div>
	                        </div>
 -->
                            <div class="form">
                                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {id: "signup-form"}) do |f| %>
                                    <%= f.text_field :first_name,class: "form-control" ,placeholder: "First Name" %>
                                    <%= f.text_field :last_name,class: "form-control" ,placeholder: "Last Name" %>
                                    <%= f.email_field :email, class: "form-control" ,placeholder: "Email"%>
                                    <%= text_field_tag :country_code,resource.country_code,id: "country_code", class: "form-control" ,placeholder: "Country code" ,maxlength: "4", style: "padding:5px;width: 38%;display: inline;"%>
                                    <%= text_field_tag :phone_number,resource.phone_number,id: "phone_number", class: "form-control" ,placeholder: "Phone Number" ,maxlength: "14",style: "display: inline-block;width: 61%;" %>
                                    <%= f.hidden_field :phone_number, class: "phone_number" %>
                                    <%= f.hidden_field :country_code, class: "country_code" %>
                                    <div class="message" style="font-weight:bold;">
                                        <%="Country code #{resource.errors['country_code'].first}" if resource.errors.has_key? :country_code %>
                                        <%= "<br/>".html_safe if resource.errors.has_key?(:country_code) && resource.errors.has_key?(:phone_number) %>
                                        <%="Phone number #{resource.errors['phone_number'].first}".html_safe if resource.errors.has_key? :phone_number %>               
                                      </div>
                            	   <%= f.password_field :password,class: "form-control" ,placeholder: "Master Password" %>
                                	<%= f.password_field :password_confirmation,class: "form-control" ,placeholder: "Confirm Master Password" %>                                    
                                    <div class="forgot">
                                        <span>Already have an account?</span>
                                        <a href="<%= new_user_session_path %>">Sign in</a>
                                    </div>
                                    <%= f.submit "Sign up" %>
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  